.controls{
  /* font-size: large; */
  margin: 2rem 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .controls{
    margin: 2rem 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .controls{
    margin: 0.5rem 0.1rem;
  }
}